*{color:white;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.desktop{
    display:flex;
    flex-wrap:wrap; 
    color:white;
    justify-content:space-around;
    align-items:center; 
    width:100vw;
}



body{
    background-image:url("./bg-intro-desktop.png") ;
    background-color:  #df5e88;
    height:100vh;
    width:100vw;
    display:flex;
    color:white;
    
 }
 .icon{
    position:absolute;
    right:70px;  
    border-radius: 50%;
    }
@media (max-width:375px) {
    .mobile{
        display: block;

    }
}

